# History files
.Rhistory

# Example code in package build process
*-Ex.R
.Rproj.user
GTDMS.Rproj
/2012/bin/
/2012/src/cipnumber.txt
/2012/res/_Data_dictionary.xls
/2012/res/_dictionary.csv
/2012/res/_datadictionary.xls
/2012/res/datadictionary.xls
/2012/res/trialsites.xls
/2012/res/_prefs.txt
/2012/res/_Master-list-trial-sites.xlsx
/2012/res/Master-list-trial-sites.xlsx
/2012/temp/*.*
/2012/temp/charts
/2012/data
/2012/res/temp/temp-data.csv
/2012/res/trialsites_add.xls
/2012/res/gtdms.db
man
*.Rdata
*.html